<div class="container">
  <div class="right">
    <div *ngIf="_players[0]">
      <input
        [(ngModel)]="_players[0].name"
        (ngModelChange)="_onChange()"
        type="text"
        placeholder="player 1"
      />
      <select 
        [(ngModel)]="_players[0].type"
        (ngModelChange)="_onChange()"
        name="player1"
        >
        <option 
          *ngFor="let type of _playerTypes"
          value="{{type}}"
          [selected]="type === _players[0].type"
          >
          {{type}}
        </option>
      </select>
    </div> 
  </div>
  <div style="width:300px">
    <span>Rounds</span>

    <br/>
    <input
      type="number"
      [(ngModel)]="_rounds"
      (ngModelChange)="_onChange()"
    />
    <br/>
    <button
      routerLink="/play"
      [disabled]="!_fieldsValid"
    >GO</button> 
  </div>
  <div class="left">
    <div *ngIf="_players[1]">
      <input
        [(ngModel)]="_players[1].name"
        type="text"
        placeholder="player 2"
      />
      <select 
        [(ngModel)]="_players[1].type"
        name="player2"
        >
        <option 
          *ngFor="let type of _playerTypes"
          value="{{type}}"
          [selected]="type === _players[1].type"
          >
          {{type}}
        </option>
      </select>
    </div> 
  </div> 
  <div>
    <app-radio-buttons
      legend="Choose weapon set"
      [buttons]="_weponSetButtons"
      [valueChange]="_weaponSetChange"
    ></app-radio-buttons>
  </div>
</div>