.weapon {
  height: 70px;
  width: 150px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
  line-height: 70px;
  margin: 12px;
  display: inline-block;
}

.weapon span {
  line-height: 20px;
}

.weapon:hover {
  color: darkgray;
  box-shadow: 0 0 5px darkgray;
}