<div>
  <button
    routerLink="/new"
  > New Game
  </button>
  
  <app-round-count
    [rounds]="_rounds"
    [roundsPlayed]="_playedRounds"
  ></app-round-count>
  
  <div class="players">
    <app-player class="f-left"
      [player]="_players[0]"
    ></app-player>
    <div>
      <app-weapon class="f-left" *ngIf="_roundPosition === ROUND_END" [weapon]="_players[0].activeWeapon"></app-weapon>
    </div>
    <div>
      <app-weapon *ngIf="_roundPosition === ROUND_END" [weapon]="_players[1].activeWeapon"></app-weapon>
    </div>
    <app-player
      [player]="_players[1]"
    ></app-player>
  </div>
  
  <div *ngIf="!_gameEnd">
    
    <div *ngIf="_roundPosition === SELECT_WEAPON" class="weapons">
      <h2> Choose your weapon {{_selectedPlayer ? _selectedPlayer.name: ''}} !</h2>
      <app-weapon 
        *ngFor="let weapon of _weapons"
        [weapon]="weapon"
        (click)="_selectWeapon(weapon)">
      </app-weapon>
    </div>
    
    <div *ngIf="_roundPosition === ROUND_END" class="weapons">
      <h2 *ngIf="_winner && _winner !== 0">Winner is {{_winner ? _winner.name : ''}}</h2>
      <h2 *ngIf="_winner === 0">DRAW</h2>
    </div>
    
    <div *ngIf="_roundPosition === ROUND_END" class="weapons">
      <div (click)="_nextRound()"> <h2> NEXT =>></h2> </div>
    </div>
  
  </div>

  <div *ngIf="_gameEnd">
      <button (click)="_resetGame()">Reset game</button>
    </div>
</div>

