<div style="text-align:center">
  <h1>
    {{ _title }}
  </h1>
  <router-outlet></router-outlet>
  <!-- <div *ngIf="!_gameStarted">
    <app-start></app-start>
  </div>
  <div *ngIf="_gameStarted">
    <app-game></app-game>
  </div> -->
</div>