<fieldset>
    <legend>{{legend && legend}}</legend>

    <div *ngFor="let button of buttons">
        <input type="radio" (click)="valueChange(button.value)" [checked]="button.active" /> {{button.name}}
    </div>

</fieldset>